<h2>Add task</h2>

<form method="post" action="/Task/Add">
	<label>Name</label>
	<br />
	<input type="text" name="Name" />
	<br />
	<label>Id</label>
	<br />
	<input type="text" name="Id"/>
	<br />
	<label>Deadline</label>
	<input type="datetime" name="Deadline" />
	<br />
	<label>Status</label>
	<input type="text" name="Status"/>
	<button type="submit">Add</button>



</form>